.notification_container{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 12px 15px;
    margin: 0;
    z-index: 10;
    line-height: 1.8;
}

.battery_status--off{
    background: #ec8787;
    padding: 12px 15px;
}

.online_status--on{
    background: rgba(135, 224, 73, 0.8);
    color: #FFF;
    transform: translateY(-50px);
    animation: slideDown 2.5s 1.0s 1 ease forwards;
}

.online_status--off{
    background: #ec8787;
    color: #551313;
}

.notification{
  position: relative;
  transition: all .4s;
  cursor: pointer;
}

.notification.disabled{
  transform: translateY(-100px);
}

.icon {
  width: 26px;
  height: 26px;
  position: absolute;
  margin-left: 5px;
}

.close-button {
  height: 41px;
  width: 41px;
  position: relative;
  box-sizing: border-box;
  line-height: 50px;
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
  z-index: 10;
  background: transparent;
  border: none;
}

.close-button:before,
.close-button:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 20px;
  left: 16px;
  margin-top: -3px;
  margin-left: -5px;
  display: block;
  height: 5px;
  width: 20px;
  background-color: #551313;
  transition: all 0.2s ease-out;
  z-index: 10;
}

.close-button:after {
  transform: rotate(45deg);
}

.notification:hover .close-button:before,
.notification:hover .close-button:after {
  transform: rotate(0deg);
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}
